<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link
  href="https://fonts.googleapis.com/css?family=Oswald:400,500|Raleway:300,400"
  rel="stylesheet"
/>

<style>
  body {
    font-family: Raleway;
  }

  .page p {
    font-family: Raleway;
    font-size: 14pt;
  }

  .sidebar p {
    font-family: Raleway;
    font-size: 12pt;
  }

  a {
    font-family: Raleway;
  }

  ul, li {
    font-family: Raleway;
    font-size: 14pt;
  }

  h1,
  h2,
  h3,
  h4,
  .sidebar h3,
  .site-title {
    font-family: Oswald;
  }
</style>

<!-- end custom head snippets -->
