<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

<link
  href="https://fonts.googleapis.com/css?family=Oswald:400,500|Raleway:300,400"
  rel="stylesheet"
/>

<style>
  body {
    font-family: Raleway;
  }

  .page p {
    font-family: Raleway;
    font-size: 14pt;
  }

  .sidebar {
    opacity: 1 !important;
  }
  
  @media (max-width: 64em) {
    .sidebar img {
      display: none;
    }
  }

  .sidebar p {
    font-family: Raleway;
    font-size: 12pt;
  }

  .paper, .poster {
    font-size: 12pt !important;
  }

  a {
    font-family: Raleway;
  }

  .page ul li {
    font-family: Raleway;
    font-size: 14pt;
    margin-bottom: 0.2em;
  }

  h1,
  h2,
  h3,
  h4,
  .sidebar h3,
  .site-title {
    font-family: Oswald;
  }
</style>

<!-- end custom head snippets -->
